{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <form action="/" method="get">
        {% if not titles %}
            <b>Your watchlist is empty. Add your first movie or TV-show to watchlist <a class="here" href="/add">here!</a></b>
        {% else %}
            <div class="section">
                <br>
                <table id="movies_table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th class="titles">Title</th>
                            <th class="titles">Description</th>
                            <th class="titles">Release Year</th>
                            <th class="titles">Date Added</th>
                            <th class="titles">User Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for title in titles %}
                        <tr>
                            <td><b>{{ title.title }}</b></td>
                            <td align="justify">{{ title.description }}</td>
                            <td>{{ title.release_year }}</td>
                            <td>{{ title.timestamp }}</td>
                            <td><b>{{ title.user_rating }}</b></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </form>
{% endblock %}